<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Update</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <!-- Title Scraper Button -->
    <div class="jumbotron text-center">
        <h1 class="text-info bg-dark" style="opacity: 0.65;">
            Welcome to Mission to Mars
        </h1>
        <a href="/scrape" class="btn btn-info btn-lg " role="button">Scrape New Data</a>
    </div>
   
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
            <h2 class="text-info">Mars News</h2>
            <h3 class="text-info"> {{ mars_dict["title"]}} </h3>
            <p class="lead text-dark"><b> {{ mars_dict["newsp"]}} </b></p>
        </div>
    </div>
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-info text-info">Featured Mars Image</h2>
                <img src='{{ mars_dict["featured_image_url"] }}' alt="Featured Mars Image" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="row-fluid">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-info"><b>Mars Weather Tweets</b></div>
                            <div class="card-body">
                                <h5 class="card-title text-info">https://twitter.com/marswxreport</h5>
                                <p class="card-text">{{ mars_dict["mars_tweets"] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-info"><b>Mars Facts</b></div>
                            <div class="card-body table-striped">
                                {{ mars_dict["facts"] | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-info">Pictures of Mars Hemispheres</h2>
            </div>
        </div>
   
       <div class="row">
            {% for img in mars_dict["hemisphereimg"] %}
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="card bg-grey">
                    <div class="card-header">{{img['Desc']}}</div>
                    <div class="card-body">
                        <img src="{{img['URL']}}" alt="{{img['Desc']}}" class="img-fluid">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    
    </div>
    
    </body>
    </html>
    
